@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Teko:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #141414;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

* {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

h1, h2, h3, h4, p {
  color: #F1F1F1;
}

h1, h2, .bg-text {
  font-family: 'Teko', sans-serif;
}

h1 {
  font-size: clamp(0.8rem, 3vw, 1.2rem);
}

h2 {
  font-size: 30px;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

h3 {
  font-size: 18px;
  font-size: clamp(0.4rem, 2vw, 0.5rem);
  font-weight: 400;
}

h4 {
  font-size: 16px;
  font-size: clamp(0.5rem, 2vw, 0.6rem);
}

p {
  font-size: 14px;
  font-size: clamp(0.4rem, 2vw, 0.5rem);
}

a {
  font-size: clamp(0.4rem, 2vw, 0.5rem);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FBA92C;
}

.bg-text {
  -webkit-text-stroke: 1px rgba(87, 87, 87, 0.2);
  color: transparent;
  font-size: 12rem;
  font-size: clamp(4rem, 30vw, 12rem);
  line-height: 0.6;
  z-index: -10;
  display: flex;
  justify-content: center;
}

div label {
  font-size: 12px;
}

header {
  display: flex;
  justify-content: space-between;
}

header div {
  width: 100%;
}

header .header-logo {
  padding: 0.5rem;
}

.logo-wrapper {
  margin-top: clamp(-6rem, -15vw, -2rem);
  padding: 10px;
}

.logo-wrapper .searchbox {
  margin-top: 2rem;
}

a {
  text-decoration: none;
  padding: 0.5rem;
}

.sign-log {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sign-log div {
  margin-right: 10px;
  background-color: transparent;
  border-radius: 0px 0px 50% 50%;
  text-align: center;
}

.searchbox {
  background-color: red;
  width: 100%;
  width: clamp(60%, 80vw, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbox a {
  align-self: flex-end;
  padding: 0.1rem;
}

.searchbox label {
  padding-bottom: 5px;
  color: #F1F1F1;
}

.searchbox div {
  width: 100%;
  background-color: #F1F1F1;
  display: flex;
  padding: 0.2rem;
  border-radius: 2px;
}

.searchbox div input {
  border: none;
  background-color: #F1F1F1;
  color: #141414;
  font-size: 12px;
  width: 100%;
  padding-left: 0.5rem;
}

.searchbox div button {
  color: #141414;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 5px 10px;
}

.searchbox div .search-icon {
  font-size: clamp(0.5rem, 2vw, 0.8rem);
}

.intro {
  height: 500px;
  margin-left: 50%;
  width: 50%;
  border-left: solid 1px #FBA92C;
  border-bottom: solid 1px #FBA92C;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.intro button {
  margin-top: 10px;
  align-self: center;
}

button {
  background-color: #FBA92C;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-size: clamp(0.4rem, 2vw, 0.6rem);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 100px;
  padding: clamp(0.1rem, 2vw, 0.6rem);
}

.description-container {
  background-color: #FBA92C;
}

.description-container h2 {
  color: #141414;
  padding-bottom: 0.5rem;
}

.description-wrapper {
  display: flex;
}

.description {
  margin: 0.5rem;
  max-width: 15rem;
}

.description h2, .description h4 {
  color: #141414;
}

.description h4 {
  line-height: 0.5;
}

.description p {
  color: #141414;
  padding: 0.5rem;
  border-left: solid 1px #141414;
}

.icon {
  color: #141414;
  align-self: center;
  padding: 0.5rem;
  font-size: clamp(0.8rem, 4vw, 1rem);
}

nav {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

footer {
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */