* {
    box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
    background-color: $primary;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

section {
    // background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    // margin-bottom: 1rem;
}

.container__layout {
    width: $width;
}