* {
    box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
    background-color: $primary;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.container__layout {
    width: $width;
}


a {
    text-decoration: none;
    padding: $padding;
    transition: color 0.3s ease;
    &:hover {
        color: $secondary_50opacity;
    }
}

.message {
    color: $secondary;
    font-size: clamp(0.2rem, 2vw, 0.4rem); 
    padding: $padding;
 }
