button {
    background-color: $secondary;
    border: none;
    border-radius: $border-radius;
    font-size: 16px;
    font-size: clamp(0.4rem, 2vw, 0.6rem);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 100px;
    padding: clamp(0.1rem, 2vw, 0.6rem);

    &:hover {
        cursor: pointer;
    }
}

.show-btn {
    margin: 1rem;
}