button {
    background-color: $secondary;
    border: none;
    border-radius: $border-radius;
    font-size: clamp(0.4rem, 2vw, 0.6rem);
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    // padding: 10px 100px;
    padding: clamp(0.1rem, 2vw, 0.4rem);
    padding: 0.5rem 1rem;
    transition: box-shadow 0.1s ease-in;
    a {
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
    &:hover {
        cursor: pointer;
        box-shadow: $box-shadow-grey;
    }
    &:active {
        background-color: $secondary_50opacity;
    }
}

.tab__cta__btn {
    margin: 1rem;
}

.logout-btn, .advanced-search-btn {
    background-color: transparent;
    color: $secondary;
    padding: $padding;
    transition: color 0.3s ease;
    align-self: flex-start;

    &:hover {
        color: $secondary_50opacity;
        cursor: pointer;
        box-shadow: none;
    }
    &:active {
        background-color: transparent;
    }
}