.checkbox__container {
    padding: $padding;
    margin-bottom: 0.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.checklist {
    width: 95%;
}
.checklist__container {
    border-left: solid 1px $secondary;
    display: flex;
    flex-wrap: wrap;
}

.checked-item {
    color: greenyellow;
}
.not-checked-item {
    color: $white;
}
.checklist__item {
    display: flex;
    margin: 0.8rem;
    span {
        position: relative;
        display: block;
    }
    input {
        margin-top: -5px;
        width: 30px;
        height: 30px;
        position: absolute;
        display: block;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
    }
}
