header {
    display: flex;
    justify-content: space-between;
    div {
        width: 100%;
        display: flex;
    }
    .header__logo__link {
        padding: 0;
    }
    .header__logo{
        padding: $padding;
    }
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__sign-log {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}