// --index page--

.logo-search__container {
    // width: 100%;
    // height: 80%;
    // margin-top: -6rem;
    margin-top: clamp(-6rem, -15vw, -2rem);
    // margin-top: -6rem;
    padding: 10px;
    .searchbox {
        margin-top: 2rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__container {
    height: 500px;
    margin-left: 50%;
    width: 50%;
    border-left: solid 1px $secondary;
    border-bottom: solid 1px $secondary;
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    button {
        margin-top: 10px;
        align-self: center;
    }
}

.description__container {
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        color: $primary;
        padding-bottom: $padding;
    }
}

.description__content {
    display: flex;

    
}

.description {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    // background-color: red;
    max-width: 15rem;
    // height: 8rem;
    // h2 {
    //     align-self: center;
    //     color: $primary;
    // }
    h4 {
        // align-self: center;
        margin-left: 2rem;
        line-height: 0.5;
        color: $primary;
    }
    p {
        color: $primary;
        padding: $padding;
        border-left: solid 1px $primary;
    }
}


// --about & faq page--

.about-faq {
    display: flex;
    flex-direction: column;

    p {
        padding: $padding;
        border-left: solid 1px $secondary;
    }
}

.container__layout {
    width: $width;
}


// --movie details page--

.movie {
    // background-color: red;
    margin-top: clamp(-4rem, -3vw, -2rem);
    display: flex;
    justify-content: space-evenly;
    z-index: 1;

    p {
        padding: $padding;
        border-left: solid 1px $secondary;
    }
}

.container__movie__details {
    margin-top: 1rem;
    padding: $padding;
    width: min(30ch, calc(100vw - 2rem));
}
.container__movie__details__info {
    display: flex;
    margin-bottom: 0.5rem;
    h5 {
        color: $lightgrey;
        margin-right: 0.5rem;
    }
}