// --index page--

.logo-search__container {
    margin-top: clamp(-6rem, -15vw, -2rem);
    padding: 10px;
    .searchbox {
        margin-top: 2rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__container {
    height: 500px;
    width: min(800px, 75vw);
    border-left: solid 1px $secondary;
    border-bottom: solid 1px $secondary;
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // align-self: flex-end;
    button {
        margin-top: 10px;
        align-self: center;
    }
}

.description__container {
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        color: $primary;
        padding-bottom: $padding;
    }
}

.description__content {
    display: flex;

    
}

.description {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    // max-width: 15rem;
    width: min(600px, 90vw);
    h4 {
        margin-left: 2rem;
        line-height: 0.5;
        color: $primary;
    }
    p {
        color: $primary;
        padding: $padding;
        border-left: solid 1px $primary;
    }
}

.icon {
    color: $primary;
    align-self: center;
    padding: $padding;
    font-size: clamp(0.8rem, 4vw, 1rem);
}



// --about & faq page--

.about-faq {
    display: flex;
    flex-direction: column;

    p {
        padding: $padding;
        border-left: solid 1px $secondary;
    }
}



// --movie details page--

.movie {
    margin-top: clamp(-4rem, -3vw, -2rem);
    display: flex;
    justify-content: space-evenly;
    z-index: 1;

    // p {
    //     padding: $padding;
    //     border-left: solid 1px $secondary;
    // }
}

.movie__plot {
    p {
        padding: $padding;
        border-left: solid 1px $secondary;
    }
}

.container__movie__details {
    margin-top: 1rem;
    padding: $padding;
    // width: min(30ch, calc(100vw - 2rem));
    width: min(800px, 100vw);
}
.container__movie__details__info {
    display: flex;
    margin-bottom: 0.5rem;
    h5 {
        color: $lightgrey;
        margin-right: 0.5rem;
    }
}

.image__movie__poster {
    box-shadow: $box-shadow;
}

.image__movie__banner {
    margin-top: clamp(0.1rem, 2vw, 1rem);
    display: flex;
    justify-content: center;
}



// --profile page--

.user__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}