.card {
    background-color: $darkgrey_20opacity;
    border-radius: $border-radius;
    // box-shadow: inset 0 -10px 7px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px -11px 8px -10px rgba(0,0,0,0.5);
    margin-bottom: clamp(0.2rem, 1vw, 0.4rem);
    padding: $padding;
    h4 {
        margin-top: 0;
    }
    // height: 6rem;
    height: 100%;
    width: $width;
    overflow: hidden;
    transition: height ease-in-out 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
        cursor: pointer;
    }
    .card__content {
        overflow: hidden;
    }
}
.card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80%;
}
.card__text {
    overflow: hidden;
    transition: height ease-in-out 1s;
    // p {
    //     height: fit-content;
    // }
    height: 1.5rem;
}

.expand-text {
    height: fit-content;
}

// .expand {
//     height: 13rem;
//     height: 100%;
// }


  
.card__info {
    display: flex;
    h5 {
        padding-right: $padding;
        color: $lightgrey;
    }
}

.hidden {
    filter: blur(0.1rem);
 }
.show {
     filter: blur(0);
}

.tags__container {
    display: flex;
    overflow: hidden;
}

.tag {
    padding-right: $padding;
    padding-bottom: $padding;
}

.vote__container {
    background-color: $darkgrey_20opacity;
    display: flex;
    align-items: center;

    h5 {
        padding-left: $padding;
    }
}
.vote {
    background-color: transparent;
    color: $secondary;
    padding: 10px;
    &:hover {
        box-shadow: none;
    }
    &:active {
        background-color: transparent;
    }
}
.vote-icon {
    font-size: clamp(0.4rem, 2vw, 0.4rem);
    padding-left: 5px;
}
.upvoted {
    color: greenyellow;
}
.downvoted {
    color: red;
}

