.searchbox {
    // width: min(30ch, calc(100vw - 2rem));
    width: min(600px, 95vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    a {
        align-self: flex-end;
        padding: 0.1rem;
        // font-size: clamp(0.3rem, 2vw, 0.4rem);
    }
    
    label {
        padding-bottom: 5px;
        color: $white;
    }

    div {
        width: 100%;
        background-color: $white;
        display: flex;
        padding: 0.2rem;
        border-radius: $border-radius;

        input {
            border: none;
            background-color: $white;
            color: $primary;
            font-size: 12px;
            width: 100%;
            padding-left: $padding;
        }

        button {
            color: $primary;
            background-color: transparent;
            border: none;
            box-shadow: none;
            padding: 5px 10px;
        }
        .search-icon {
            font-size: clamp(0.5rem, 2vw, 0.8rem);
            transition: color 0.3s ease;
            &:hover {
                cursor: pointer;
                color: $secondary;
            }
        }
    }
    
}

.search__results {
    // width: min(30ch, calc(100vw - 2rem));
    width: min(600px, 95vw);
    position: absolute;
    background-color: $primary;
    height: fit-content;
    color: black;
    transition: height ease-in-out 0.5s;
    padding-left: $padding;
    a {
        padding: 0;
        margin: 0;
    }
}
.requested__results {
    // width: min(30ch, calc(100vw - 2rem));
    // width: min(600px, 95vw);
    // background-color: blue;
    // background-color: $primary;
    height: fit-content;
    // color: black;
    transition: height ease-in-out 0.5s;
    padding-left: $padding;
    a {
        padding: 0;
        margin: 0;
    }
}

.results__item {
    background-color: $primary;
    display: flex;
    margin-bottom: 0.5rem;
    // padding: 0.1rem;
    transition: background-color 0.5s;
    h5 {
        color: $white;
        transition: color 0.5s;
    }
    
    
    .results__description {
    padding-left: $padding;
    }

    // &:hover {
    //     cursor: pointer;
    //     background-color: $darkgrey_20opacity;
    // }
    &:hover {
        cursor: pointer;
        h5 {
            color: $secondary;
        }   
    }
}

.search__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;
    button {
        min-width: 8rem;
    }
}

@media (max-width: 700px) {
    
    .header__search {
        .searchbox {
            display: none !important;
        } 
    }
    
}