.tabs {
    display: flex;
    flex-wrap: wrap;
    // height: 300px;
    height: fit-content;
    // width: 500px;
    // min-width: 70%;
}
   
.tab__label {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 50%;
    
    cursor: pointer;
    background-color: transparent;
    border-bottom: 1px solid $secondary;
    color: $secondary;
}
   
.tabs .tab {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    padding: 1rem;
    background-color: transparent;
    padding: 20px;
}
   
.tabs input[type="radio"] {
    display: none;
}
   
.tabs input[type="radio"]:checked + .tab__label {
    border-top: 1px solid $secondary;
    border-left: 1px solid $secondary;
    border-right: 1px solid $secondary;
    border-bottom: none;
}
   
.tabs input[type="radio"]:checked + .tab__label + .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        align-self: flex-start;
    }

}



.request__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;
    h5 {
        margin-bottom: 1rem;
    }
  }
