* {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

h1, h2, h3, h4, h5, p {
    color: $white;
}

h1, h2, .bg-text {
    font-family: 'Teko', sans-serif;
}

h1 {
    font-size: clamp(0.8rem, 3vw, 1.2rem);
    padding: $padding;
    margin: 0;
}
h2 {
    font-size: 30px;
    font-size: clamp(0.8rem, 3vw, 1rem);
}
h3 {
    font-size: 18px;
    font-size: clamp(0.4rem, 2vw, 0.5rem);
    font-weight: 400;
}
h4 {
    font-size: 16px;
    font-size: clamp(0.5rem, 2vw, 0.6rem);
}

h5 {
    font-size: clamp(0.2rem, 2vw, 0.4rem);
    margin: 0;
}

p, input, textarea, span, .message {
    font-size: clamp(0.3rem, 2vw, 0.4rem);
    line-height: 1.5;
}

a, .tab__label, .logout-btn {
    font-size: clamp(0.4rem, 2vw, 0.5rem);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $secondary;
}

.bg-text {
    width: 100%;
    -webkit-text-stroke: 1px $darkgrey_20opacity;
    color: transparent;
    // font-size: 12rem;
    font-size: clamp(2rem, 20vw, 12rem);
    line-height: 0.6;
    z-index: -10;
    display: flex;
    justify-content: center;
}

div {
    label {
        font-size: 12px;
    }
}
