@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Teko:wght@400;700&display=swap');

@import "partials/colors";
@import "partials/base";
@import "partials/typography";


header {
    display: flex;
    justify-content: space-between;
    div {
        width: 100%;
    }
    .header-logo{
        padding: $padding;
    }
}

.bg-text {
    -webkit-text-stroke: 1px $darkgrey_20opacity;
    color: transparent;
    font-size: 12rem;
    line-height: 0.6;
    z-index: -10;
    display: flex;
    justify-content: center;
}

.logo-wrapper {
    height: 80%;
    margin-top: -6rem;
    padding: 10px;
    .searchbox {
        margin-top: 2rem;
    }
}

a {
    text-decoration: none;
    padding: $padding;
}

.sign-log {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    div {
        // width: 3rem;
        margin-right: 10px;
        // background-color: $secondary;
        background-color: transparent;
        border-radius: 0px 0px 50% 50%;
        text-align: center;
    }
}

.searchbox {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        align-self: flex-end;
        padding: 0.1rem;
    }
    
    label {
        padding-bottom: 5px;
    }

    div {
        background-color: $white;
        display: flex;
        padding: 0.2rem;
        // box-shadow: $box-shadow;
        border-radius: $border-radius;

        input {
            border: none;
            background-color: $white;
            color: $primary;
            font-size: 12px;
            width: 15rem;
            padding-left: $padding;
        }

        button {
            color: $primary;
            background-color: transparent;
            border: none;
            box-shadow: none;
            padding: 5px 10px;
        }
    }
    
}

.intro {
    height: 500px;
    margin-left: 50%;
    width: 50%;
    border-left: solid 1px $secondary;
    border-bottom: solid 1px $secondary;
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    button {
        margin-top: 10px;
        align-self: center;
    }
}

button {
    background-color: $secondary;
    border: none;
    border-radius: $border-radius;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 100px;
}



.description-container {
    background-color: $secondary;
    h2 {
        color: $primary;
        padding-bottom: $padding;
    }
}

.description-wrapper {
    display: flex;
}

.description {
    max-width: 15rem;
    height: 8rem;
    h2, h4 {
        color: $primary;
    }
    p {
        color: $primary;
        padding: $padding;
        border-left: solid 1px $primary;
    }
}



.icon {
    color: $primary;
    align-self: center;
    padding: $padding;
}





nav {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

footer {
    padding: 1rem;
}
