@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Teko:wght@400;700&display=swap');

@import "partials/variables";
@import "partials/base";
@import "partials/typography";
@import "partials/buttons";
@import "partials/tabs";
@import "partials/header";
@import "partials/nav";
@import "partials/hamburgerMenu";
@import "partials/search";
@import "partials/main";
@import "partials/footer";



   



a {
    text-decoration: none;
    padding: $padding;
}

.icon {
    color: $primary;
    align-self: center;
    padding: $padding;
    font-size: clamp(0.8rem, 4vw, 1rem);
}

