@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Teko:wght@400;700&display=swap');

@import "partials/variables";
@import "partials/base";
@import "partials/typography";
@import "partials/buttons";
@import "partials/tabs";
@import "partials/tags";
@import "partials/form";
@import "partials/header";
@import "partials/nav";
@import "partials/hamburgerMenu";
@import "partials/search";
@import "partials/main";
@import "partials/footer";


.vote {
    background-color: transparent;
    color: $secondary;
}
.liked {
    color: greenyellow;
}

.user__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: $darkgrey_20opacity;
    border-radius: $border-radius;
    padding: $padding;
    h4 {
        margin-top: 0;
        cursor: pointer;
    }
    height: 5rem;
    overflow: hidden;
    transition: height ease-in-out 0.5s;
}

.expand {
    height: 12rem;
}
  
.card__info {
    display: flex;
    h5 {
        padding-right: $padding;
    }
}

a {
    text-decoration: none;
    padding: $padding;
}

.icon {
    color: $primary;
    align-self: center;
    padding: $padding;
    font-size: clamp(0.8rem, 4vw, 1rem);
}

